# VSCode specific files
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Node.js modules
node_modules/

# Log files
*.log

# Build output
/dist/
/build/
/out/

# Dependency directories
bower_components/

# Coverage directory used by tools like istanbul
/coverage/

# Project-specific IDE files
.idea/

# TypeScript
*.tsbuildinfo

# VSCode extensions
.vscode-test/

# Optional NPM package lock file (if not wanted in the repo)
package-lock.json
